.paragrafoAgradecimentos{

    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 2em;
}


.paragrafoAgradecimentosInterno{
  margin-top: 6%;
    width: 900px;
    font-size: 20px;
    color: #4e4d4d;
}
video {
    cursor: pointer;
}

.gridConteudoAgradecimentos{
    margin-top: 4em;
    margin-left: 5em;
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    gap: 6em;
    justify-content: center;
    
}

.tituloAgradecimento{
    font-size: 79px;
    margin-bottom: 16px;
}
.divInternaAgradecimentos{
    border-right: 4px solid black;
    display: flex;
  
   
    flex-direction: column;
    
    
}
.textoInternoAgradecimento{
    font-size: 16px;
    width: 250px;
}
#css{
    border-right:none;
}
