.introducaoExercicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.NomeExercicio{
    margin-top: 2em;
    font-size: 24px;
}
.primeiroTextoExercicio{
    flex-wrap: wrap;
    width: 900px;
    margin-top: 3em;
    margin-bottom: 2em;
    background-color: #e6e6e6be;
    padding: 2em;
    border-radius: 10px;
}

.tituloTextoInterno{
    text-align: center;
    padding: 1em;
    font-size: 20px;
}
